body { 
   background-image: url("img/back.jpg");
   color: white;
   padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;  
}

a { 
   font-family: Arial;
    font-size: 16pt;
padding-left: 10px; 
}

p { 
   font-family: Arial;
    font-size: 12pt;
    color: black;
    text-align: center;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: underline;
  color: white;
}

.overmenu {
  height: 50px;
  border: 1px solid black;
  background-color:grey;
padding-left: 10px;
}

main {
  height: 50px;
  border: 1px solid black;
background-color: grey;
}

header {
  border: 1px solid black;
}

footer {
   color: black;
    font-size: 20px;
    background-color: lightgray;
    padding: auto;
    height: 4600px;
    border: 2px solid black;
    border-radius: 14px;
}

table {
  border: 2px solid black;
}

h1 {
text-align: center;
}


h3 {
font-size: 20px;
background-color: black;
color: white;
}

h2 {
font-size: 30px;
background-color: black;
color: white;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.filterDiv {
  float: left;
  background-color: gray;
  color: #ffffff;
  width: 120px;
  line-height: 10px;
  text-align: center;
  margin: 4px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: black;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: gray;
}

.btn.active {
  background-color: grey;
  color: white;
}
